.container {
  max-width: 1256px;
  width: 90%;
  margin: 0 auto 0 auto;
  // border: 1px solid red;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-50 {
  height: auto;
}

.col {
  width: auto;
  height: auto;
}

.section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-col {
  flex-basis: 32%;
}