
.title {
  font-family: "Yeseva One", cursive;
  font-size: 23px;
  &--primary {
    color: $primary;
  }
}

.button {
  border-radius: 2px;
  color: $white;
  &--primary {
    background-color: $primary;
  }
}

.contacts__button {
  padding: 14px 20px;
}
