.arrow-top {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 0px;
  z-index: 11;
  cursor: pointer;
  text-align: center;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  // transition: opacity 0.3s;
  &__link {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    // color: blue;
    background-color: $primary;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
  }
  &:hover {
    opacity: 1; 
  }
  &:active {
    opacity: 1; 
  }
  & {
    opacity: 0.5; 
  }
}

.progress-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 5px;
  background-color: $dark;
}

.progress-bar {
  height: 100%;
  background-color: $primary;
  width: 0%;
}

.title {
  font-family: "Yeseva One", cursive;
  // font-size: 23px;
  &--primary {
    color: $primary;
  }
}

.button {
  font-family: "Futura Demi", italic;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.928rem;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 5px 15px rgba($primary, 0.3);
  
  transition: box-shadow 0.3s;
  &--primary {
    background-color: $primary;
    color: $white;
  }
  &:hover {
    box-shadow: none;
  }
  &--outline {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    box-shadow: none;
  }
}

.contacts__button {
  padding: 11px 20px;
  text-align: center;
}

.section {
  // padding: 60px 0;
  // DELETE BEFORE LAYOUTING
  &-heading {
    text-align: center;
    &-title {
      text-align: center;
      font-family: "Yeseva One", cursive;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 16px;
    }
    &-img {
      vertical-align: middle;
      width: 28px;
      margin-left: 9px;
      margin-right: 9px;
    }
  }
}

.section-heading {
  &-block-img {
    display: inline-block;
    &::before, &::after {
      display: inline-block;
      content: "";
      width: 32px;
      height: 1.5px;
      background-color: $primary;
      border-radius: 30px;
      vertical-align: middle;
    }
  }
}


.section-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-col {
  flex-basis: 32%;
}

.card {
  &__img {
    width: 100%;
    max-height: 421px;
    // max-width: 392px;
  }

  &__text {
    position: relative;
    max-width: 330px;
    margin: 0 auto;
    margin-top: -9.271rem;

    padding: 24px 0 59px 34px;
    background-color: $white;
    box-shadow: 10px 10px 20px rgba($dark, 0.03);
  }

  &__title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 1.285rem;
    margin-bottom: 9px;
    color: $dark;
    // margin-bottom: 13px;
  }
  &__list {
    list-style-position: inside;
  }

  &__items {
    font-size: 1.071rem;
    font-family: "Futura Book";
    color: $softSilver;
    line-height: 25px;
    // & + & {
    //   margin-top: 10px;
    // }
  }
  &__price-tag {
    position: absolute;
    left: 0;
    bottom: -1.982rem;

    min-height: 54px;
    padding: 15px 25px;

    background-color: $primary;
    color: $white;

    font-family: "Yeseva One";
    font-size: 1.285rem;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
  }

}

.card-text-dots {
  display: none;
}


// Modal Window
.label {
  font-family: "FuturaBook", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.071rem;
  &--primary {
    color: rgba($white, 0.5);
  } 
}

// Modal
.input {
  border: none;
  background: transparent;
  color: $white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
  // font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 1.285rem;
  padding: 0;
  padding: 8px 0;
  &::placeholder {
    color: $white;
  }
}
.input:focus, input:active {
  outline: none;
  border-bottom: 1px solid $primary;
  // border-right: 1px solid $white;
}
// Modal Window (END)