
.span--block {
  display: block;
}

.arrow-top {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 0px;
  z-index: 5;
  cursor: pointer;
  text-align: center;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  // transition: opacity 0.3s;
  &__link {
    display: inline-block;
    text-align: center;
    font-size: 30px;
    // color: blue;
    background-color: $primary;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
  }
  &:hover {
    opacity: 1; 
  }
  &:active {
    opacity: 1; 
  }
  & {
    opacity: 0.5; 
  }
}

.progress-container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 2px;
  background-color: $dark;
}

.progress-bar {
  height: 100%;
  background-color: $primary;
  width: 0%;
}

.title {
  font-family: "Yeseva One", cursive;
  // font-size: 23px;
  &--primary {
    color: $primary;
  }
}

.color--primary {
  color: $primary;
}

.button {
  font-family: "Futura Demi", italic;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.928rem;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 5px 15px rgba($primary, 0.3);
  
  transition: box-shadow 0.3s;
  &--primary {
    background-color: $primary;
    color: $white;
  }
  &:hover {
    box-shadow: none;
  }
  &--outline {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    box-shadow: none;
  }
}

.contacts__button {
  padding: 11px 20px;
  text-align: center;
}

.text--line {
  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: $primary;
    z-index: 1;
  }
}

.section {
  width: 100%;
  &--dark {
    width: 100%;
    background-color: $dark;
  }
  &--white {
    width: 100%;
    background-color: $white;
  }
  &--lines {
    // width: 100%;
    // background-image: url("../img/primary-bg-lines.svg");
    // background-repeat: repeat-y;
    // background-position: center center;
    // background-size: cover;
  }
  &-heading {
    text-align: center;
    &-title {
      text-align: center;
      font-family: "Yeseva One", cursive;
      text-transform: uppercase;
      font-size: 20px;
      // margin-bottom: 16px;
      &--margin--bottom {
        margin-bottom: 16px;
      }
    }
    &-text {
      font-family: "Futura Book";
      font-weight: 400;
      font-style: normal;
      line-height: 27.5px;
    }
    &-img {
      vertical-align: middle;
      width: 28px;
      margin-left: 9px;
      margin-right: 9px;
    }
    &--left {
      text-align: left;
    }
  }
}

.section-heading {
  &-block-img {
    display: inline-block;
    &::before, &::after {
      display: inline-block;
      content: "";
      width: 32px;
      height: 1.5px;
      background-color: $primary;
      border-radius: 30px;
      vertical-align: middle;
    }
  }
}

.card {
  &__img {
    width: 100%;
    max-height: 421px;
    // max-width: 392px;
  }

  &__text {
    position: relative;
    max-width: 330px;
    margin: 0 auto;
    margin-top: -9.271rem;

    padding: 24px 0 59px 34px;
    background-color: $white;
    box-shadow: 10px 10px 20px rgba($dark, 0.03);
  }

  &__title {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 1.285rem;
    margin-bottom: 9px;
    color: $dark;
    // margin-bottom: 13px;
  }
  &__list {
    list-style-position: inside;
  }

  &__items {
    font-size: 1.071rem;
    font-family: "Futura Book";
    color: $softSilver;
    line-height: 25px;
    // & + & {
    //   margin-top: 10px;
    // }
  }
  &__price-tag {
    position: absolute;
    left: 0;
    bottom: -1.982rem;

    min-height: 54px;
    padding: 15px 25px;

    background-color: $primary;
    color: $white;

    font-family: "Yeseva One";
    font-size: 1.285rem;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
  }

}

.card-text-dots {
  display: none;
}


// Modal Window
.label {
  font-family: "FuturaBook", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.071rem;
  &--primary {
    color: rgba($white, 0.5);
  } 
}

// Modal
.input {
  border: none;
  background: transparent;
  color: $white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
  // font-family: FuturaMediumC;
  font-style: normal;
  font-weight: 500;
  font-size: 1.285rem;
  padding: 0;
  padding: 8px 0;
  &::placeholder {
    color: $white;
  }
}
.input:focus, input:active {
  outline: none;
  border-bottom: 1px solid $primary;
  // border-right: 1px solid $white;
}
// Modal Window (END)


// Swiper setting navigation (START)
.own-pagination {
  // position: absolute;
  // bottom: 0;
  vertical-align: middle;
  display: inline-block;
  width: auto;
  .swiper-pagination-bullet {
    background: rgba($white, 0.3);
    width: 10px;
    height: 10px; 
    vertical-align: middle;
    display: inline-block !important;
  }
  .swiper-pagination-bullet + .swiper-pagination-bullet{
    margin-left: 17px;
  }
  .swiper-pagination-bullet-active {
    background: $white;
  }
}

.steps__pagination-bullet + .steps__pagination-bullet{
  margin-left: 17px;
}
.steps__pagination-bullet {
  // opacity: 0.3;
  background: rgba($white, 0.3);
  width: 10px;
  height: 10px; 
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block !important;
}

.steps__pagination-bullet-active {
  // opacity: 1 !important;
  background-color: $white;
}

.own-button-prev, .own-button-next {
  display: inline-block;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 42px;
  height: 14px;
  cursor: pointer;
  // top: auto !important;
  // bottom: 0 !important;
  &::after {
    display: none;
  } 
}

.own-button-prev {
  background-image: url("../img/arrow-prev.svg");
  left: 0 !important;
  right: auto !important;
  }

.own-button-next {
  background-image: url("../img/arrow-next.svg");
  left: 0 !important;
  right: auto !important;
  }
// Setting swiper nav (END)

// Swiper lazy loader (START)
.swiper-lazy-preloader {
  vertical-align: middle !important;
  // align-self: center !important;
  // margin-top: 30%;
}
// Swiper lazy loader (END)