
.title {
  font-family: "Yeseva One", cursive;
  // font-size: 23px;
  &--primary {
    color: $primary;
  }
}

.button {
  font-family: "Futura Demi", italic;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.928rem;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 5px 15px rgba($primary, 0.3);
  
  transition: box-shadow 0.3s;
  &--primary {
    background-color: $primary;
    color: $white;
  }
  &:hover {
    box-shadow: none;
  }
  &--outline {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    box-shadow: none;
  }
}

.contacts__button {
  padding: 11px 20px;
  text-align: center;
}

.section {
  padding: 60px 0;
  // DELETE BEFORE LAYOUTING
  &-heading {
    text-align: center;
    &-title {
      text-align: center;
      font-family: "Yeseva One", cursive;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 16px;
    }
    &-img {
      vertical-align: middle;
      width: 28px;
      margin-left: 9px;
      margin-right: 9px;
    }
  }
}

.section-heading {
  &-block-img {
    display: inline-block;
    &::before, &::after {
      display: inline-block;
      content: "";
      width: 32px;
      height: 1.5px;
      background-color: $primary;
      border-radius: 30px;
      vertical-align: middle;
    }
  }
}