
.title {
  font-family: "Yeseva One", cursive;
  font-size: 23px;
  &--primary {
    color: $primary;
  }
}

.button {
  font-family: "Futura Demi", italic;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  border: none;
  box-shadow: 0px 5px 15px rgba($primary, 0.3);
  
  transition: box-shadow 0.3s;
  &--primary {
    background-color: $primary;
    color: $white;
  }
  &:hover {
    box-shadow: none;
  }
  &--outline {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    box-shadow: none;
  }
}

.contacts__button {
  padding: 14px 20px;
  text-align: center;
}
