@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1445px) {
  .hero {
    &__container {
        margin-left: 55px;
    }
  }
}

@media screen and (max-width: 992px) {
  .nav {
    display: none;
  }
  .instagram {
    &-block {
      display: none;
    }
  }
  .hero {
    &__container {
      margin-left: auto;
  
    }
  }
}

@media screen and (max-width: 570px) {
  .header {
    min-height: 57px;
  }
  .hero {
    padding-top: 55px;
  }
  .contacts {
    &__phone {
      color: $white;
      text-decoration: none;
    }
    &__button {
      display: none;
    }
  }
  .title {
    font-size: 1.916rem;
  }
  .hero {
    &__title {
      max-width: 20.833rem;
      margin-bottom: 1.25rem;
      line-height: 30px;
      font-size: 1.716rem;
    }
    &__text {
      font-size: 1.5rem;
      max-width: 26.66rem;
      margin-bottom: 2.25rem;
      line-height: 25px;
    }
    &__button {
      display: block;
      width: 100%;
      max-width: 338px;
      font-size: 1.083rem;
    }
    &__button:first-child {
      margin-bottom: 2.166rem;
      margin-right: 0;
    }
    &__scroll-btn {
      display: none;
    }
  }
}

@media screen and (max-height: 595px) {
  .hero__scroll-btn {
    min-width: 200px;
    min-height: 65px;

  }
}

@media screen and (max-height: 545px) {
  .hero__scroll-btn {
    min-height: 40px;
    min-width: 180px;
  }
  .scroll-down::after {
    display: none;
  }
}

@media screen and (max-height: 491px) {
  .hero__scroll-btn {
    min-height: 40px;
    min-width: 130px;
  }
}

@media screen and (max-width: 265px) {
  html {
    font-size: 10px;
  }
}


// Section Types Repair (START)
// Section Types Repair (START)
@media screen and (max-width: 880px) {
  .section {
    &-row {
      flex-direction: column;
      justify-content: none;
      align-items: center;
    }
    &-col {
      flex-basis: none;
    }
  }
  .types {
    &__card {
      // margin-bottom: 60px;
      margin-bottom: 82px;
    }
  }
  .card {
    &__img {
      max-width: 340px;
      }
    &__text {
      max-width: 270px;
      margin-top: -142px;
      
      padding: 21px 0 40px 30px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 385px) {
  .card {
    &__title {
      font-size: 15px;
      margin-bottom: 9px;
    }
    &__items {
      line-height: 22px;
  
      font-size: 13px;
    }
    &__price-tag {
      min-height: 41px;
      padding: 8px 18px;
    }
  }
}

@media screen and (max-width: 305px) {
  .card__text {
    margin-top: 0;
  }
}
// Section Types Repair (END)
// Section Types Repair (END)


// Section Design Project (START)
// Section Design Project (START)
@media screen and (max-width: 880px) {
  .d-project {
    &__card {
      margin-bottom: 82px;
    }
  }
}

@media screen and (max-width: 450px) {
  .d-project {
    &__heading-text {
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 39px;
    }
    &__card {
      // &-text:first-child {
      //   height: 176px !important;
      //   min-height: 177px !important;
      // }
      &-items:nth-child(n+8) {
        display: none;
      }
    }
    &__card {
      &-price-tag {
        padding: 16px 20px;
      }
    }
  }
}