@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1445px) {
  .hero {
    &__container {
        margin-left: 55px;
    }
  }
}

@media screen and (max-width: 992px) {
  .nav {
    display: none;
  }
  .instagram {
    &-block {
      display: none;
    }
  }
  .hero {
    &__container {
      margin-left: auto;
  
    }
  }
}

@media screen and (max-width: 570px) {
  .header {
    min-height: 57px;
  }
  .hero {
    padding-top: 55px;
  }
  .projects {
    margin-top: 0;
  }
  .contacts {
    &__phone {
      color: $white;
      text-decoration: none;
    }
    &__button {
      display: none;
    }
  }
  .title {
    font-size: 1.916rem;
  }
  .hero {
    &__title {
      max-width: 20.833rem;
      margin-bottom: 1.25rem;
      line-height: 30px;
      font-size: 1.716rem;
    }
    &__text {
      font-size: 1.5rem;
      max-width: 26.66rem;
      margin-bottom: 2.25rem;
      line-height: 25px;
    }
    &__button {
      display: block;
      width: 100%;
      max-width: 338px;
      font-size: 1.083rem;
    }
    &__button:first-child {
      margin-bottom: 2.166rem;
      margin-right: 0;
    }
    &__scroll-btn {
      display: none;
    }
  }
}

@media screen and (max-height: 595px) {
  .hero__scroll-btn {
    min-width: 200px;
    min-height: 65px;
  }
  .protects {
    top: 0;
  }
}

@media screen and (max-height: 545px) {
  .hero__scroll-btn {
    min-height: 40px;
    min-width: 180px;
  }
  .scroll-down::after {
    display: none;
  }
}

@media screen and (max-height: 491px) {
  .hero__scroll-btn {
    min-height: 40px;
    min-width: 130px;
  }
  // .scroll-down::after {
  //   display: inline-block;
  // }
}

@media screen and (max-width: 265px) {
  html {
    font-size: 10px;
  }
}


// INTARFACE  (START)
@media screen and (max-width: 880px) {
  .section {
    &-row {
      flex-direction: column;
      justify-content: none;
      align-items: center;
    }
    &-col {
      flex-basis: none;
    }
  }
  .card {
    &__img {
      max-width: 340px;
      }
    &__text {
      max-width: 270px;
      margin-top: -145px;
      
      // padding: 21px 0 40px 30px;
      padding: 21px 0 44px 30px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .card {
    &__title {
      margin-bottom: 7px;
    }
    &__items {
      line-height: 23px;
    }
    &__price-tag {
      font-size: 15px;
    }
    &-text-dots {
      display: inline;
    }
  }
}

@media screen and (max-width: 385px) {
  .card {
    &__title {
      font-size: 15px;
      margin-bottom: 9px;
    }
    &__items {
      line-height: 22px;
  
      font-size: 13px;
    }
    &__price-tag {
      min-height: 41px;
      padding: 8px 18px;
    }
  }
}

@media screen and (max-width: 305px) {
  .card__text {
    margin-top: -3;
  }
}
// INTERFACE (END)


// Section Types Repair (START)
@media screen and (max-width: 880px) {
  .types {
    &__heading {
      margin-bottom: 40px;
    }
    &__card {
      margin-bottom: 77px;
    }
  }
}

@media screen and (max-width: 450px) {
  .types {
   &__card {
     &-price-tag {
       bottom: -1.482rem;
       min-height: 0 !important;
       padding: 7px 20px;
     }
   } 
  }
}
// Section Types Repair (END)


// Section Design Project (START)
@media screen and (max-width: 880px) {
  .d-project {
    background-color: $dark;
    &__container {
      color: $white;
    }
    &__heading {
      &-text {
        max-width: 605px;
        color: $white;
      }
    }
    &__card {
      margin-bottom: 80px;
    }
  }
}

@media screen and (max-width: 450px) {
  .d-project {
    &__heading {
      &-text {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 39px;

        max-width: 305px;
      }
      &-title {
        font-size: 22px;
      }
    }
    &__card {
      // &-text:first-child {
      //   height: 176px !important;
      //   min-height: 177px !important;
      // }
      &-block-img::before {
        display: none;
      }
      &-items:nth-child(n+8) {
        display: none;
      }
    }
    &__card {
      &-price-tag {
        min-height: 0;
        padding: 8px 44px;
        bottom: -1.682rem;
        // bottom: -2.082rem;
        text-align: center;
      }
    }
  }
}