@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1445px) {
  .hero {
    &__container {
        margin-left: 55px;
    }
  }
}

@media screen and (max-width: 992px) {
  .nav {
    display: none;
  }
  .instagram {
    &-block {
      display: none;
    }
  }
  .hero {
    &__container {
      margin-left: auto;
  
    }
  }
}

@media screen and (max-width: 570px) {
  .header {
    min-height: 57px;
  }
  .hero {
    padding-top: 55px;
  }
  .projects {
    margin-top: 0;
  }
  .contacts {
    &__phone {
      color: $white;
      text-decoration: none;
    }
    &__button {
      display: none;
    }
  }
  .title {
    font-size: 1.916rem;
  }
  .hero {
    &__title {
      max-width: 20.833rem;
      margin-bottom: 1.25rem;
      line-height: 30px;
      font-size: 1.716rem;
    }
    &__text {
      font-size: 1.5rem;
      max-width: 26.66rem;
      margin-bottom: 2.25rem;
      line-height: 25px;
    }
    &__button {
      display: block;
      width: 100%;
      max-width: 338px;
      font-size: 1.083rem;
    }
    &__button:first-child {
      margin-bottom: 2.166rem;
      margin-right: 0;
    }
    &__scroll-btn {
      display: none;
    }
  }
}

@media screen and (max-height: 595px) {
  .hero__scroll-btn {
    min-width: 200px;
    min-height: 65px;
  }
  .protects {
    top: 0;
  }
}

@media screen and (max-height: 545px) {
  .hero__scroll-btn {
    min-height: 40px;
    min-width: 180px;
  }
  .scroll-down::after {
    display: none;
  }
}

@media screen and (max-height: 491px) {
  .hero__scroll-btn {
    min-height: 40px;
    min-width: 130px;
  }
  // .scroll-down::after {
  //   display: inline-block;
  // }
}

@media screen and (max-width: 265px) {
  html {
    font-size: 10px;
  }
}


// INTARFACE  (START)
@media screen and (max-width: 880px) {
  .section {
    &-row {
      flex-direction: column;
      justify-content: none;
      align-items: center;
    }
    &-col {
      flex-basis: none;
    }
  }
  .card {
    &__img {
      max-width: 340px;
      }
    &__text {
      max-width: 270px;
      margin-top: -145px;
      
      // padding: 21px 0 40px 30px;
      padding: 21px 0 44px 30px;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 880px) {
  .projects {
    &__build-row {
      display: none;
    }
    &--margin-b {
      margin-bottom: 0px !important;
      padding-bottom: 50px;
    }
  }
  .control {
      margin-top: 0;
      &__heading {
        margin-top: 0;
      }
    &--bgc-dark {
      background-color: $dark;
      // border: 2px solid red;
    }
    &__content {
      margin-top: 0;
    }
    &__text {
      color: $white;
    }
    &__form {
      justify-content: unset;
      flex-direction: column;
      align-items: normal;
      flex-wrap: nowrap;
    }
    &__label {
      color: rgba($white, 0.5);
    }
    &__block-input {
      flex-basis: unset;
      min-width: 0;
      max-width: 425px;
      & + & {
        margin-top: 61px;
      }
      // width: 100%;
      // flex-basis: 425px;
      &:nth-child(1) {
        order: -3;
      }
      &:nth-child(2) {
        order: -2;
        margin-bottom: 26px;
      }
    }
    &__input {
      color: $white;
      border-bottom: 1px solid $white;
      &::placeholder {
        color: $white;
      }
    }
    &__policy {
      order: -1;
      width: auto;
      color: $white;
      margin-top: 0;
      text-align: left;
      margin-bottom: 37px;
      &-label {
        font-size: 1.33rem;
      }
    }

    &__button {
      position: relative;
      bottom: -23.5px;
      order: 1;
    }

  } // Control
} // Media

@media screen and (max-width: 1250px) {
  .swiper-p-container {
    margin: 0 !important;
  }
  .projects {
    &__col-1 {
      width: 35%;
    }
  }
}

@media screen and (max-width: 1040px) {
  .projects__col-2 {
    width: 60%;
    display: flex;
    align-items: center;
  }
  .projects__nav {
    margin-top: 42px;
  }
}

@media screen and (max-width: 945px) {
  .projects {
    &--column {
      display: flex;
      flex-direction: column;
    }
    &__col-1 {
      width: 100%;
      max-width: 680px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 33px;
    }
    &__col-2 {
      width: 100%;
      align-items: flex-start;
      // justify-content: center;
    }
  }
  .swiper {
    &-p-container {
      // max-width: 680px !important;
    }
    &-projects-image {
      // max-width: none;
      // width: 100% !important;
    }
    &-p-img {
      // width: none;
      max-width: 679px !important;
    }
  }
}

.projects {
  &__pagination {
    position: absolute;
  }
  &__button-prev, &__button-next {
    top: auto !important;
    bottom: 0 !important;
  }
}

@media screen and (max-width: 570px) {
  .projects {
    padding-top: 35px;
  }
}

@media screen and (max-width: 460px) {
  .projects {
    &__col-1 {
      width: 100%;
    }
    &__title {
      font-size: 1.83rem;
      margin-bottom: 20px;
    }
    &__text {
      max-width: 290px;
      font-size: 1.185rem;
      line-height: 1.971rem;
      margin-bottom: 37px;
    }
    &__nav {
      margin-top: 55px;
    }
    &__slide {
      &-block {
        margin-bottom: 29px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-inline {
        min-width: 156px;
      }
      &-title {
        font-size: 1.185rem;
        margin-bottom: 12px;
      }
      &-text {
        line-height: 19px;
      }
    }
  }
}

@media screen and (max-width: 290px) {
  .projects__slide-inline {
    min-width: 130px;
  }
}

@media screen and (max-width: 450px) {
.control {
  &__wrap-text {
    margin-bottom: 2.48rem;
    &::before {
      margin-bottom: 1.23rem;
    }
  }
  &__text {
    font-size: 1.16rem;
    line-height: 2rem;
  }
  &__label {
    font-size: 1.250rem;
  }
  &__button {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    border-radius: 0;
  }
} // .control

} // Media (max-w: 450px)

@media screen and (max-width: 450px) {
  .card {
    &__title {
      margin-bottom: 7px;
    }
    &__items {
      line-height: 23px;
    }
    &__price-tag {
      font-size: 15px;
    }
    &-text-dots {
      display: inline;
    }
  }
}

@media screen and (max-width: 385px) {
  .card {
    &__title {
      font-size: 15px;
      margin-bottom: 9px;
    }
    &__items {
      line-height: 22px;
  
      font-size: 13px;
    }
    &__price-tag {
      min-height: 41px;
      padding: 8px 18px;
    }
  }
}

@media screen and (max-width: 305px) {
  .card__text {
    margin-top: -3;
  }
}
// INTERFACE (END)


// Section Types Repair (START)
@media screen and (max-width: 880px) {
  .types {
    &__heading {
      margin-bottom: 40px;
    }
    &__card {
      margin-bottom: 77px;
    }
  }
}

@media screen and (max-width: 450px) {
  .types {
   &__card {
     &-price-tag {
       bottom: -1.482rem;
       min-height: 0 !important;
       padding: 7px 20px;
     }
   } 
  }
}
// Section Types Repair (END)


// Section Design Project (START)
@media screen and (max-width: 880px) {
  .d-project {
    background-color: $dark;
    &__container {
      color: $white;
    }
    &__heading {
      &-text {
        max-width: 605px;
        color: $white;
      }
    }
    &__card {
      margin-bottom: 80px;
    }
  }
}

@media screen and (max-width: 450px) {
  .d-project {
    &__heading {
      &-text {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 39px;

        max-width: 305px;
      }
      &-title {
        font-size: 22px;
      }
    }
    &__card {
      // &-text:first-child {
      //   height: 176px !important;
      //   min-height: 177px !important;
      // }
      &-block-img::before {
        display: none;
      }
      &-items:nth-child(n+8) {
        display: none;
      }
    }
    &__card {
      &-price-tag {
        min-height: 0;
        padding: 8px 44px;
        bottom: -1.682rem;
        // bottom: -2.082rem;
        text-align: center;
      }
    }
  }
}



@media screen and (max-width: 1201px) {
  .clients {
    &__card {
      &-tag-a {
        margin-right: -2px;
      }
    }
  }
}

@media screen and (max-width: 1127px) {
  .clients {
    &__card {
      &-name {
        font-size: 15px;
        margin-left: 8px;
      }
      &-tag-a {
        margin-right: -1.5px;
      }
    }
  }
}

@media screen and (max-width: 1026px) {
  .clients__card-tag-a, .clients__card-tag-b {
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 1010px) {
  .clients__heading-title {
    margin-top: 75px;
  }
}

@media screen and (max-width: 975px) {
  .clients {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1075px) {
  .team-row {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1010px) {
  .team { 
    background-color: $dark18;
    // margin-bottom: 75px;
    padding-bottom: 75px;
    &__container {
      margin-bottom: 0;
    }
    &__heading {
      margin-top: 0px;
      // color: $dark;
      padding-top: 95px;
    }
    &__footer {
      display: none;
      visibility: hidden;
      &-text {
        color: $white;
      }
    }
    &-row {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    &__section-col + &__section-col {
      margin-top: 90px;
    }
  }
}

@media screen and (max-width: 975px) {
  .team {
    &__container {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .team {
    &__card {
      &-text {
        margin-top: -82px;
      }
      &-title {
        font-size: 18px !important;
      }
      &-price-tag {
        font-size: 13px !important;
      }
    }
  }
}

@media screen and (max-width: 404px) {
  .team {
    &__heading {
      &-title {
        font-size: 22px;
        margin-bottom: 13px;
      }
      &-text {
        font-size: 1.25rem;
        max-width: 325px;
        line-height: 20.5px;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .modal {
    &__dialog {
      max-width: 350px;
      padding-left: 30px;
      padding-right: 30px;
    }
    &__title {
      max-width: 240px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 335px) {
  .modal {
    &__dialog {
      max-width: 252px;
    }
  }
}

@media screen and (max-width: 500px) {
  .modal-submit {
    &__dialog {
      max-width: 300px;
    }
    &__header {
      text-align: center;
    }
    &__success {
      display: block;
      margin: 0 auto;
      text-align: center;
      vertical-align: unset;
      margin-bottom: 5px;
    }
    &__title {
      text-align: center;
      font-size: 16px;
      vertical-align:unset;
    }
    &__wait {
      font-size: 15px;
      text-align: center;
    }
    &__phone, &__email {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 335px) {
  .modal-submit {
    &__dialog {
      max-width: 255px;
    }
  }
}

@media screen and (max-width: 1010px) {
  .steps {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 880px) {
  .steps {
    &__row {
      flex-direction: column;
    }
    &__col:first-child {
      margin-right: 0;
    }
    &__slide-image {
      height: auto;
      overflow: hidden;
      & img {
        vertical-align: baseline;
      }
    }
    &__image {
      &-pagination {
        visibility: hidden;
        display: none;
        margin-top: 0;
      }
    }
    &__nav {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .swiper {
    &-c-steps {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 315px) {
  .steps {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .questions {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 46px;
    &__title {
      font-size: 1.67rem;
      margin-bottom: 53px;
    }
    &__label {
      font-size: 14px;
    }
    &__input {
      padding-top: 2px;
      font-size: 1.385rem;
      letter-spacing: 0.5px;
    }
    &__block {
      &-input {
        & + & {
          margin-top: 63px;
          &:nth-child(3) {
            margin-bottom: 21px;
          }
        }
        &:nth-child(1) {
          display: block;
          width: 100%;
          margin-bottom: 0;
        }
        &:nth-child(2) {
          display: block;
          float: left;
          width: 100%;
        }
        &:nth-child(3) {
          display: block;
          float: left;
        }
      }
    }
    &__policy {
      display: block;
      float: left;
      margin-bottom: 67px;
    }
    &__button {
      width: 100%;
      max-width: none;
    }
  }
  .footer__map {
    height: 255px;
  }
  .footer__text {
    p {
      font-size: 18px; 
      max-width: 320px;
      margin-right: auto;
      margin-left: auto;
      line-height: 26px;
      a {
        display: block;
      }
    }
    .span--block {
      display: inline !important;
    }
  }
}

// @media screen and (max-height: 555px) {
//   .footer {
//     &__map {
//       height: 255px;
//   }
// }