* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 14px;
  // scroll-behavior: smooth;
}

body {
  font-family: "Futura Book", sans-serif;
  font-size: 1rem;
}
button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.main {
  overflow: hidden;
}