* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Futura Book", sans-serif;
  font-size: 1rem;
}
button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.section-heading {
  text-align: center;
  &__title {
    font-family: "Yeseva One", cursive;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    // color: $white;
  }
  // &__block-img {
  //   display: inline-block;
  //   &::before, &::after {
  //     display: inline-block;
  //     content: "";
  //     width: 32px;
  //     height: 2px;
  //     background-color: $primary;
  //     border-radius: 30px;
  //     vertical-align: middle;
  //   }
  // }
  &__img {
    vertical-align: middle;
    width: 33px;
    margin-left: 9px;
    margin-right: 9px;
  }
}
