* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, div {
  margin: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 14px;
  // scroll-behavior: smooth;
}

body {
  font-family: "Futura Book", sans-serif;
  font-size: 1rem;
}
button {
  outline: unset;
  border: unset;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

input {
  border-radius: 0;
  cursor: text;

  -webkit-outline: none;
    -moz-outline: none;
    outline: none;

  -webkit-border: none;
    -moz-border: none;
    border: none;

  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  &:focus, &:active {
    outline: none;
  }
}

.main {
  overflow: hidden;
}

.air {
  padding-top: 350px;
  padding-bottom: 350px;
}