$dark: #131313;
$dark25: #252525;
$dark18: #181818;
$primary: #E3B873;
$white: #ffffff;
$softSilver: #959595;
$lightSilver: rgba(#363636, 0.5);
$validateError: #FF3333;
$red: #f20d0d;
// %massage-shared {
//   font-size: 35px;
//   color: red;
//   background-color: #aeaeae;
//   padding: 10px;
//   border-radius: 10px;
// }
