$dark: #131313;
$primary: #E3B873;
$white: #ffffff;
$softSilver: #959595;


// %massage-shared {
//   font-size: 35px;
//   color: red;
//   background-color: #aeaeae;
//   padding: 10px;
//   border-radius: 10px;
// }
