@import "./_normilize.scss";
@import "./fonts.scss";
@import "./_variables.scss";
@import "./_setting.scss";
@import "./_grid.scss";
@import "./_interface.scss";
@import "./tamplates/_header.scss";
@import "./tamplates/_hero.scss";
@import "./tamplates/_online-control.scss";



@import "./_media.scss";
