.clients {
  // padding-bottom: 355px;
  padding-bottom: 1px;
  &__heading {
    margin-bottom: 46px;
    &-wrap-img {
      margin-bottom: 17px;
    }
    &-img {
      width: 33px;
    }
    &-text {
      max-width: 360px;
    }
  }
  &__card {
    position: relative;
    max-width: 376px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 68px;
    &-heading {
      margin-bottom: 12px;
    }
    &-face {
      display: inline-block;
      vertical-align: middle;
    }
    &-face-photo {
      border-radius: 100%;
      width: 76px;
      }
      &-name {
        display: inline-block;
        margin-left: 21px;

        font-family: "Yeseva One";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        vertical-align: middle;

        line-height: 23px;
      }
    &-text {
      max-width: 325px;
      font-family: "Futura Book";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      // line-height: 180%;
      line-height: 27.5px;
      color: $softSilver;
    }
    &-tag {
      display: block;
      position: absolute;
      left: 0;
      bottom: -25.5px;

      box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
      &-a, &-b {
        background-color: #E3B873;
        color: $white;
        font-family: "Yeseva One";
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;

        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 18px;
        padding-right: 13px;
      }
      &-a {
        margin-right: -2.5px;
        &::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 1px;
          background-color: $white;
        }
      }
      &-b {
        text-transform: unset;
        padding-right: 25px;
      }
      &-icon {
        width: 32px;
        vertical-align: middle;
        margin-right: 11px;
      }
      &-title {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  &__footer {
    margin-top: -87px;
    margin-bottom: -5px;
  }
  &__bg-left img, &__bg-right img {
    opacity: 0.1;
    width: 100%;
  }
  &__bg-left, &__bg-right {
    width: 50%;
  }
}

