.d-project {
  position: relative;
  z-index: 2;
  padding-top: 120px;
  &__heading {
    &-block {
      &-img {
        margin-bottom: 20px;
      }
    }
    &-title {
      margin-bottom: 16px;
    }
    &-text {
      max-width: 740px;
      margin: 0 auto;
      margin-bottom: 45px;
      
      font-size: 1.428rem;
      font-style: normal;
      font-weight: normal;
      line-height: 27px;
      text-align: center;
      color: $dark;
      // background-color: $white;

    }
  }
  &__card {
    &-block-img {
      text-align: center;
      // height: 100%;
      position: relative;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: 995;
        background: rgba($dark, 0.3);
        width: 100%;
        height: 99%;
      }
    }
    &-price-tag {
      padding: 16px 81px 16px 33px;
      bottom: -1.982rem;
      text-align: left;
    }
  }
}

// d-project__card-block-img
/*
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 995;
      background: rgba(0,0,0, 0.5);
      width: 100%;
      height: 100%;
    }
*/