.footer {
  // position: relative;
  .footer--bg {
    background-color: $dark25;
    background-image: url("../img/footer-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    padding-bottom: 4.41rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
      z-index: 0;
    }
  }
  &__text {
    text-align: center;
    margin-top: -228px;
    & p {
      color: $primary;
      text-align: center;
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 24px;
      a {
        color: $primary;
      }
    }
  }
  & .footer--bg > .container {
    position: relative;
  }
  &__menu {
    padding: 48px 0px;
  }

}

.questions {
  position: relative;
  top: -222px;
  background-color: $dark18;
  max-width: 883px;
  margin: 0 auto;
  margin-bottom: 58px;
  padding: 34px;
  &__title {
    font-size: 1.46rem;
    font-family: "Yeseva One", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 46px;
  }
  &__form {
    max-width: 520px;
    margin: 0 auto;
  }
  &__block-input:nth-child(1) {
    display: inline-block;
    width: 44%;
    margin-bottom: 46px;
  }
  &__block-input:nth-child(2) {
    display: inline-block;
    float: right;
    width: 44%;
  }
  &__block-input:nth-child(3) {
    display: block;
    width: 100%;
    margin-bottom: 46px;
  }
  &__label {
    display: block;
  }
  &__input {
    width: 100%;
    // margin-top: -5px;
    padding-top: 2px;
  }
  &__policy {
    text-align: center;
    margin-bottom: 47px;
  }
  &__policy-label {
    color: $white;
  }
  &__block-button {
    text-align: center;
  }
  &__button {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    max-width: 200px;
    // min-width: 150px;
    padding: 18px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer {
  &__social {
    display: block;
    margin: 0 auto;
    margin-bottom: 43px;
    &-s {
      display: inline-block;
      background-color: $primary;
      padding: 8px;
      border-radius: 100%;
      line-height: unset;
      font-size: 0;
      & img {
        width: 12px;
        height: 12px;
      }
      & + & {
        margin-left: 12px;
      }
    }
  }
  &__map {
    max-width: 925px;
    margin: 0 auto;
    height: 465px;
  }
}

@media screen and (max-width: 1010px) {
  .footer {
    &--bg, .footer {
      background-color: unset !important;
      background-image: unset !important;
    }
  }
}

@media screen and (max-width: 993px) {
  .footer {
    &__container-menu {
      position: none;
      display: none;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 975px) {
  .questions {
    position: unset;
    top: unset;
    padding-top: 0;
    margin-bottom: 0;
  }
  .footer {
    padding-bottom: 0;
    // padding-bottom: 38px;
    &--bg {
      padding-bottom: 0 !important;
    }
    &__text {
      margin-top: 0;
      padding-bottom: 38px;
    }
    &__switch {
      display: flex;
      flex-direction: column-reverse;
    }
    &__map {
      width: 99%;
      margin-bottom: 37px;
    }
    &__social {
      margin-bottom: 0;
    }
    &__container-menu {
      position: none;
      display: none;
      visibility: hidden;
    }
  }
}
