.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $dark;
  padding: 24px 0;
  width: 100%;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  color: $primary;
}

.nav {
  &__link {
    text-decoration: none;
    color: $white;

    transition: color 0.3s;
    &:hover {
      color: $primary;
    }
  }
  &__link + &__link {
    margin-left: 40px;
  }
}

.phone {
  color: $primary;
  text-transform: uppercase;
}

.contacts__phone {
  margin-right: 45px;
}
