.hero {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 100vh;
  color: $white;

  padding-top: 80px;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $dark;
    background-image: url("../img/hero-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba($dark, 0.7);
    }
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    &-block {
      width: 100%;
    }
  }
  &__title {
    font-size: 2.757rem;
    text-transform: uppercase;
    max-width: 31.428rem;
    margin-bottom: 15px;
    line-height: 53px;

    font-style: normal;
    font-weight: normal;
  }
  &__text {
    max-width: 36.071rem;
    font-size: 1.571rem;
    line-height: 30px;
    margin-bottom: 47px;
    font-style: normal;
    font-weight: normal;
  }
  &__button {
    padding: 18px 24px;
    width: 100%;
    max-width: 207px;
    &:first-child {
      margin-right: 17px;
    }
  }
}

.instagram-block {
  display: flex;   
  justify-content: center;
  align-items: center;
  background-color: $dark;
}

.hero__instagram-block {
  width: 90px;
  // min-width: 90px;
  height: 100%;
}

.hero__instagram-link {
  display: flex;
  align-items: center;
  font-family: "Futura Demi";
  text-decoration: none;
  color: $primary;
  text-transform: uppercase;
  transform: rotate(90deg);
  text-align: center;
  &::after {
    // display: inline-block;
    content: "";
    width: 51px;
    height: 1px;
    background-color: $primary;
    margin-left: 10px;
  }
}

.hero__scroll-btn {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;

  min-width: 247px;
  min-height: 97px;
}

.scroll-down {
  display: inline-block;
  font-family: "Yeseva One", cursive;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;

  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/hero-scroll-down.svg");
    width: 26px;
    height: 26px;
    margin-left: 15px;
    background-position: center center;
    // background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid $primary;
    border-radius: 50%;
  }
}

