.control {
  position: relative;
  // margin-top: -48.5px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-image: url("../img/primary-bg-lines.svg");
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
    opacity: 1;
  }
  &__content {
    position: relative;
    z-index: 1;
    // margin-top: -371px;
  }
  &__heading {
    margin-top: -371px;
    margin-bottom: 30px;
    &-title {
      margin-bottom: 15px;
      color: $white;
    }
    &-img {
      width: 33px;
    }
  }
  &__video {
    position: relative;
    margin: 0 auto 0 auto;
    max-width: 817px;
    height: 95vh;
    max-height: 434px;
    // margin-bottom: 62px;
    margin-bottom: 4.42rem;

    // background-image: url("../img/online-control-bg-video.jpg"); // Use id for lazy
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before {
      display: inline-block;
      content: "";
      background: rgba($dark, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &-play {
      display: inline-block;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 143px;
      // width: 85px; native
      // height: 85px;
    }
  }
  &__wrap-text {
    max-width: 556px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 4.48rem;
    &::before {
      content: "";
      display: block;
      width: 55px;
      height: 2px;
      background-color: $primary;
      border-radius: 30px;
      margin: 0 auto 1.93rem auto;
    }
  }
  &__text {
    font-family: "Futura Book";
    font-style: normal;
    line-height: 2.428rem;
    font-size: 1.42rem;
    text-align: center;
    /* &::before {
       content: "";
       display: block;
       width: 55px;
       height: 2px;
       background-color: $primary;
       border-radius: 30px;
      margin: 0 auto 1.93rem auto;
     } */
  }

  // Control form (START)
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 770px;
    margin: auto;
    margin-bottom: 10.14rem;
  }
  &__label {
    display: block;
  }
  &__block-input {
   flex-basis: 231px;
  }
  &__input {
    color: $dark;
    width: 100%;
    font-size: 18px;
    padding: 1px 0 8px 0;
    border-bottom: 1px solid rgba(#363636, 0.3);
    // border-radius: 0 !important;
    &::placeholder {
      color: $dark;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
    }
  }
  &__button {
    min-width: 200px;
    max-width: 200px;
    max-height: 51px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 15px;
  }
  &__policy {
    margin-top: 2.35rem;
    width: 100%;
    text-align: center;
    &-label {
      margin: auto;
      text-align: center;
      &::before {
        margin-right: 4px;
      }
    }
  }
  // Control form (END)
}

#controlVideo.lazy {
  background-image: none;
}

#controlVideo {
  background-image: url("../img/online-control-bg-video.jpg");
}