.swiper {
  &-p-container {
    max-width: 445px !important;
    height: auto;

    // Setting from .swiper-container (Swiperjs)
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  &-p-wrapper {
    // overflow: hidden;
  }
}
.projects--relatieve {
  position: relative;
}
.projects {
  position: relative;
  margin-top: -48.5px;
  padding-top: 175px;
  z-index: 1;
  color: $white;
  // width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-image: url("../img/primary-bg-lines.svg");
    background-repeat: repeat-y;
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
  }
  &__heading {
    width: 100%;
  }
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: -2px;
    line-height: 2.642rem;
    margin-bottom: 21px;
    &--line {
      display: block;
      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 2.285rem;
        width: 92px;
        height: 1px;
        background-color: $primary;
        z-index: 1;
      }
    }
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.285rem;
    line-height: 2.071rem;
    max-width: 442px;
    margin-bottom: 49px;

    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
  &__slide {
    width: 100% !important;
    &-title {
      font-family: "Yeseva One", cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 1.285rem;
      // line-height: 25px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &-text {
      font-family:  "Futura Book";
      font-style: normal;
      font-weight: normal;
      font-size: 1.07rem;
      text-align: left;
    }
    &-block {
      display: block;
      margin-bottom: 42px;
      &:nth-child(2) {
        margin-bottom: 0 !important;
      }
    }
    &-inline {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      min-width: 187px;
      &:last-child {
        margin-right: 0;
        min-width: auto;
      }
    }
  }
}

.projects {
  &--margin {
    &-b {
      margin-bottom: 105px !important;
    }
  }
  &__nav {
    display: block;
    // position: absolute; -turn- bullets (vertical)
    left: 0;
    // bottom: -60px;
    bottom: 0;
    // margin-top: 61px;
    width: auto;
    height: auto;
  }
  &__pagination {
    position: absolute;
    bottom: 0;
  }
  // Building at bottom of section (START)
  &__build {
    &-row {
      opacity: 0.1;
      overflow: hidden;
      position: relative;
      width: 100%;
    }
    &-col {
      margin-bottom: -5px;
      & img, source {
        width: 637px;
        height: auto;
        padding-top: 1px;
        // width: 100%;
        height: 311px;
      }
      &:first-child {
      margin-left: -5px;
      }
      &:last-child {
      margin-right: -5px;
      }
    }
  }
  // Building at bottom of section (END)

}

.swiper-projects-image {
  position: relative;
  max-width: 680px;
  // width: 100%;
  height: auto;

  // Setting from .swiper-container (Swiperjs)
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}


// Relocate media @request to _media.scss
.swiper {
  &-p {
    &-img {
      position: initial;
      // position: relative;
      // max-width: 679px !important;
      width: 100% !important;
      .swiper-lazy-preloader {
        margin-top: 30%;
      }
       img {
      // max-width: 679px !important;
      width: 100%;
    }
   }
  }
}

.swiper-p-img {
  width: 100%;
  height: auto;
}
