.swiper-container {
  width: auto;
}

.projects {
  position: relative;
  top: -48.5px;
  padding-top: 175px;
  padding-bottom: 60px;
  z-index: 1;
  color: $white;

  width: 100%;
  background-image: url("../img/projects-bg-lines.svg");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 2.642rem;
    &--line {
      display: block;
      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 2.285rem;
        width: 92px;
        height: 1px;
        background-color: $primary;
        z-index: 1;
      }
    }
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.285rem;
    line-height: 2.071rem;
    max-width: 442px;
    margin-bottom: 42px;
  }
  &__slide {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // width: auto !important;
    width: 100% !important;
    &-img {
      overflow: hidden;
      // max-width: 679px; 
      & img {
        // width: 100%;
        max-width: 679px;
        overflow: hidden;

     }
    }
    &-title {
      font-family: "Yeseva One", cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 1.285rem;
      // line-height: 25px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &-text {
      font-family:  "Futura Book";
      font-style: normal;
      font-weight: normal;
      font-size: 1.07rem;
    }
    &-block {
      // width: 100%;
      margin-bottom: 30px;
      display: block;
      // display: flex;
      // flex-direction: row;
      // justify-content: flex-start;
    }
    &-inline {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      min-width: 175px;
      // margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.swiper {
  &-pagination {
    width: auto !important;
    left: auto;
    bottom: -2px !important;
    // bottom: auto !important;
    &-bullet {
      background: rgba($white, 0.3);
      width: 10px;
      height: 10px;
      &-active {
        background-color: $white;
      }
    }
  }
  &-button {
    &-prev {
      // background: url("../img/arrow-prev.svg");
      background-image: url("../img/arrow-prev.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 42px;
      height: 14px;
      top: auto !important;
      bottom: 0 !important;
      left: 0;
      right: auto;
      &::after {
        display: none;
      } 
    }
    &-next {
      background-image: url("../img/arrow-next.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 42px;
      height: 14px;
      top: auto !important;
      bottom: 0 !important;
      left: 0;
      right: auto;
      &::after {
        display: none;
      }
    }
  }
}