.swiper {
  &-p-container {
    max-width: 445px !important;
    height: auto;

    // Setting from .swiper-container (Swiperjs)
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  &-p-wrapper {
    // overflow: hidden;
  }
}
.projects--relatieve {
  position: relative;
}
.projects {
  position: relative;
  top: -48.5px;
  padding-top: 175px;
  padding-bottom: 60px;
  z-index: 1;
  color: $white;

  width: 100%;
  background-image: url("../img/projects-bg-lines.svg");
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  &__heading {
    width: 100%;
  }
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: -2px;
    line-height: 2.642rem;
    margin-bottom: 21px;
    &--line {
      display: block;
      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-left: 2.285rem;
        width: 92px;
        height: 1px;
        background-color: $primary;
        z-index: 1;
      }
    }
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.285rem;
    line-height: 2.071rem;
    max-width: 442px;
    margin-bottom: 49px;
  }
  &__slide {
    width: 100% !important;
    &-title {
      font-family: "Yeseva One", cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 1.285rem;
      // line-height: 25px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &-text {
      font-family:  "Futura Book";
      font-style: normal;
      font-weight: normal;
      font-size: 1.07rem;
      text-align: left;
    }
    &-block {
      display: block;
      margin-bottom: 42px;
      &:nth-child(2) {
        margin-bottom: 0 !important;
      }
    }
    &-inline {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      min-width: 187px;
      &:last-child {
        margin-right: 0;
        min-width: auto;
      }
    }
  }
}

.projects {
  &__nav {
    display: block;
    // position: absolute; -turn- bullets (vertical)
    left: 0;
    // bottom: -60px;
    bottom: 0;
    // margin-top: 61px;
    width: auto;
    height: auto;
  }
  &__pagination {
    position: absolute;
    bottom: 0;
  }
}
//   .swiper-pagination-bullet + .swiper-pagination-bullet {
//     margin-left: 17px;
//   }
//   .swiper-pagination-bullet-active {
//     background: $white;
//   }
// }

// .projects-button-prev, .projects-button-next {
//   display: inline-block;
//   vertical-align: middle;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: 42px;
//   height: 14px;
//   top: auto !important;
//   bottom: 0 !important;
//   &::after {
//     display: none;
//   } 
// }


.swiper-projects-image {
  position: relative;
  max-width: 680px;
  // width: 100%;
  height: auto;

  // Setting from .swiper-container (Swiperjs)
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}


// Relocate media @request to _media.scss
.swiper {
  &-p {
    &-img {
      position: initial;
      // max-width: 679px !important;
      width: 100% !important;
       img {
      // max-width: 679px !important;
      width: 100%;
    }
   }
  }
}

.swiper-p-img {
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .swiper-p-container {
    margin: 0 !important;
  }
  .projects {
    &__col-1 {
      width: 35%;
    }
  }
}

@media screen and (max-width: 1040px) {
  .projects__col-2 {
    width: 60%;
    display: flex;
    align-items: center;
  }
  .projects__nav {
    margin-top: 42px;
  }
}

@media screen and (max-width: 945px) {
  .projects {
    &--column {
      display: flex;
      flex-direction: column;
    }
    &__col-1 {
      width: 100%;
      max-width: 680px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 33px;
    }
    &__col-2 {
      width: 100%;
      align-items: flex-start;
      // justify-content: center;
    }
  }
  .swiper {
    &-p-container {
      // max-width: 680px !important;
    }
    &-projects-image {
      // max-width: none;
      // width: 100% !important;
    }
    &-p-img {
      // width: none;
      max-width: 679px !important;
    }
  }
}

.projects {
  &__pagination {
    position: absolute;
  }
  &__button-prev, &__button-next {
    top: auto !important;
    bottom: 0 !important;
  }
}

@media screen and (max-width: 570px) {
  .projects {
    padding-top: 35px;
  }
}

@media screen and (max-width: 460px) {
  .projects {
    &__col-1 {
      width: 100%;
    }
    &__title {
      font-size: 1.83rem;
      margin-bottom: 20px;
    }
    &__text {
      max-width: 290px;
      font-size: 1.185rem;
      line-height: 1.971rem;
      margin-bottom: 37px;
    }
    &__nav {
      margin-top: 55px;
    }
    &__slide {
      &-block {
        margin-bottom: 29px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-inline {
        min-width: 156px;
      }
      &-title {
        font-size: 1.185rem;
        margin-bottom: 12px;
      }
      &-text {
        line-height: 19px;
      }
    }
  }
}

@media screen and (max-width: 290px) {
  .projects__slide-inline {
    min-width: 130px;
  }
}