.steps {
  margin-top: -428px;
  padding-top: 428px;
  // padding-bottom: 576px;
  padding-bottom: 0;
  width: 100%;
  color: $white;
  overflow: hidden;
  background-color: $dark;
  z-index: 1;
  &__col {
    position: relative;
    // padding-top: 50px;
    &:first-child {
      margin-right: 20px;
    }
    &-2 {
      max-width: 765px;
    }
  }
  &__pre-title {
    display: inline-block;
    // margin-top: 17-;
    margin-bottom: 17px;
    font-family: "Futura Demic", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $white;
    font-size: 15px;
    text-transform: uppercase;
  }
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 92px;
  }
  &__text--line {
    &::after {
      width: 92px;
      height: 1.5px;
      margin-left: 80px;
    }
  }
  &__slide {
    width: 100% !important;
    // border: 1px solid pink;
    &-pre-title {
      display: block;
      margin-bottom: 20px;
    }
    &-title {
      font-family: "Yeseva One", cursive;
      font-size: 15px;
      font-style: normal;
      font-weight: normal;
      line-height: 23px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &-text {
      max-width: 337px;
      font-family: "Futura Book";
      font-style: normal;
      font-weight: 400;
      font-style: 15px;
      line-height: 26px;
      color: $white;
      &-1 {
        margin-bottom: 10px;
      }
    }
  }
  &__nav {
    position: relative;
    margin-top: 73px;
    // border: 1px solid green;
  }
  &__pagination {
    position: initial;
  }
}

.swiper-c-steps {
  max-width: 339px;
  position: relative;
}

.steps__nav .own-button-prev {
  position: absolute;
  top: auto;
  bottom: 0;
}
.steps__nav .own-button-next {
  position: absolute;
  top: auto;
  bottom: 0;
}

// Image side
.swiper-c-steps-image {
  max-width: 766px;
  position: relative;
  border: 1px solid red;

  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.steps {
  &__image {
    &.swiper-lazy {
      border: 2px solid red !important;
    }
    &-pagination {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: -117px;
      margin-bottom: 45px;
    }
    &-bullet {
      // display: flex box
      opacity: 0.3;
      // border: 1px solid $primary;
      cursor: pointer;
      width: 30%;
      &-active {
        opacity: 1;
      }
    }
  }
  &__slide {
    &-image {
      width: 100% !important;
      & img {
        width: 100%;
        // max-height: 377px;
        text-align: center;
        vertical-align: bottom;
      }
    }
  }
}

.steps__image-bullet::before {
  // content: "01";
  display: inline-block;
  font-family: "Yeseva One", cursive;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: $white;
  text-transform: uppercase;
  border-bottom: 1px solid $primary;
  margin-bottom: 10px;
  padding-bottom: 2px;
  // z-index: 999;
  // position: relative;
  // display: flex;
}

.steps__image-bullet::after {
  display: block;
  max-width: 135px;
  font-family: "Futura Book";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: $white;
  line-height: 18px;
  // z-index: 999;
  // position: relative;
  // display: flex;
}

.steps__image-bullet:nth-child(1)::before {
  content: "01";
}

.steps__image-bullet:nth-child(1)::after {
  content: "Выезд на замер помещения";
}

.steps__image-bullet:nth-child(2)::before {
  content: "02";
}

.steps__image-bullet:nth-child(2)::after {
  content: "Составление сметы";
  max-width: 85px;
}

.steps__image-bullet:nth-child(3)::before {
  content: "03";
}

.steps__image-bullet:nth-child(3)::after {
  content: "Разработка  дизайн проекта";
}

.steps__image-bullet:nth-child(4)::before {
  content: "04";
}

.steps__image-bullet:nth-child(4)::after {
  content: "Закупка расходных материалов";
}

.steps__image-bullet:nth-child(5)::before {
  content: "05";
}

.steps__image-bullet:nth-child(5)::after {
  content: "Ремонтно-отделочные работы";
}

.steps__image-bullet:nth-child(6)::before {
  content: "06";
}

.steps__image-bullet:nth-child(6)::after {
  content: "Приемка-сдача работ";
}

.steps__image-bullet:nth-child(1) {
  margin-bottom: 42px;
}

.steps__image-bullet:nth-child(2) {
  margin-bottom: 42px;
}

.steps__image-bullet:nth-child(3) {
  margin-bottom: 42px;
  width: auto;
  justify-self: flex-end;
}

.steps__image-bullet:nth-child(6) {
  width: auto;
  justify-self: flex-end;
}

// .steps__slide-image.swiper-lazy, .steps__slide-image img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   overflow: hidden;
//   &-preloader, &-preloader-white {
//   // height: auto !important;
//   padding: 0;
//   }
// }

@media screen and (max-width: 880px) {
  .steps {
    &__row {
      flex-direction: column;
    }
    &__col:first-child {
      margin-right: 0;
    }
    &__slide-image {
      height: auto;
      overflow: hidden;
      & img {
        vertical-align: baseline;
      }
    }
    &__image {
      &-pagination {
        visibility: hidden;
        display: none;
        margin-top: 0;
      }
    }
    &__nav {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .swiper {
    &-c-steps {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 315px) {
  .steps {
    display: none;
  }
}