.steps {
  margin-top: -428px;
  padding-top: 428px;
  padding-bottom: 576px;
  width: 100%;
  color: $white;
  background-color: $dark;
  // border: 2px solid red;
  z-index: 1;
  &__col {
    position: relative;
    // padding-top: 50px;
  }
  &__pre-title {
    display: inline-block;
    // margin-top: 17-;
    margin-bottom: 17px;
    font-family: "Futura Demic", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $white;
    font-size: 15px;
    text-transform: uppercase;
  }
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 92px;
  }
  &__text--line {
    &::after {
      width: 92px;
      height: 1.5px;
      margin-left: 85px;
    }
  }
  &__slide {
    width: 100% !important;
    border: 1px solid pink;
    &-pre-title {
      display: block;
      margin-bottom: 22px;
    }
    &-title {
      font-family: "Yeseva One", cursive;
      font-size: 15px;
      font-style: normal;
      font-weight: normal;
      line-height: 23px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    &-text {
      max-width: 337px;
      font-family: "Futura Book";
      font-style: normal;
      font-weight: 400;
      font-style: 15px;
      line-height: 25px;
      color: $white;
      &-1 {
        margin-bottom: 14px;
      }
    }
  }
  &__nav {
    position: relative;
    margin-top: 65px;
    // position: absolute;
    // left: 0;
    // bottom: -65px;
    // top: 65px;
    border: 1px solid green;
  }
  &__pagination {
    position: initial;
  }
}

.swiper-c-steps {
  max-width: 339px;
  position: relative;
}

.steps__nav .own-button-prev {
  position: absolute;
  top: auto;
  bottom: 0;
}
.steps__nav .own-button-next {
  position: absolute;
  top: auto;
  bottom: 0;
}

// Image side
.swiper-c-steps-image {
  // width: 100%;
  max-width: 766px;
  position: relative;
  border: 1px solid red;
}

.steps {
  &__image {
    &-pagination {
      left: 0;
      top: -50px;
      position: absolute;
      // display: block;
    }
    &-bullet {
      // display: flex box
      width: 50px;
      height: 50px;
      background-color: red;
      // opacity: 1; // 0.3 real
      // &:ntn-child(1)::before {
      //   content: "01";
      //   display: block;
      //   color: #fff;
      //   border-bottom: 1px solid $primary;
      //   padding-bottom: 5px;
      //   z-index: 999;
      // }
      // &::after {

      // }
    }
  }
  &__slide {
    &-image {
      width: 100% !important;
      & img {
        width: 100%;
        min-height: 377px;
        text-align: center;
        vertical-align: bottom;
      }
    }
  }
}

.steps__image-bullet:nth-child(1)::before {
  content: "01";
  display: inline-block;
  color: #fff;
  border-bottom: 1px solid $primary;
  padding-bottom: 5px;
  z-index: 999;
  position: relative;
  // display: flex;
}