.steps {
  margin-top: -428px;
  padding-top: 428px;
  padding-bottom: 576px;
  width: 100%;
  color: $white;
  background-color: $dark;
  // border: 2px solid red;
  z-index: 1;
  &__col {
    position: relative;
  }
  &__pre-title {
    display: inline-block;
    // margin-top: 17-;
    margin-bottom: 17px;
    font-family: "Futura Demic", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $white;
    font-size: 15px;
    text-transform: uppercase;
  }
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 92px;
  }
  &__text--line {
    &::after {
      width: 92px;
      height: 1.5px;
      margin-left: 85px;
    }
  }
  &__slide {
    width: 100% !important;
    &-pre-title {
      display: block;
      margin-bottom: 22px;
    }
    &-title {
      font-family: "Yeseva One", cursive;
      font-size: 15px;
      font-style: normal;
      font-weight: normal;
      line-height: 23px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    &-text {
      max-width: 337px;
      font-family: "Futura Book";
      font-style: normal;
      font-weight: 400;
      font-style: 15px;
      line-height: 25px;
      color: $white;
      &-1 {
        margin-bottom: 14px;
      }
    }
  }
  &__nav {
    margin-top: 65px;
    // position: absolute;
    // left: 0;
    // bottom: -65px;
    // top: 65px;
  }
  &__pagination {
    position: initial;
  }
}

.swiper-c-steps {
  max-width: 339px;
  position: relative;
}

.steps__nav .own-button-prev {
  position: absolute;
  top: auto;
  bottom: 0;
}
.steps__nav .own-button-next {
  position: absolute;
  top: auto;
  bottom: 0;
}
