.team {
  // background-color: $dark;
  // position: relative;
  // z-index: 1;
  // padding-bottom: 350px;
  &-row {
    justify-content: space-around;
  }
  &__container {
    margin-bottom: 88px;
  }

  &__heading {
    color: $white;
    // margin-top: -460px;
    margin-top: -30%;
    margin-bottom: 75px;
    &-block-img  {
      margin-bottom: 18px;
    }
    &-text {
      max-width: 448px;
    }
  }
  &__section {
    &-col {
      flex-basis: none;
      max-width: 275px;
    }
  }
  &__card {
    position: relative;
    &-title {
      font-size: 1.285rem;
      margin-bottom: 5px;
    }
    &-photo {
      width: 100%;
      max-height: 357.63px;
    }
    &-svg {
      position: absolute;
      top: -35px;
      left: -35px;
      width: 71px;
      height: 71px;
      padding: 13px;
      background-color: $primary;
      visibility: visible;
    }
    &-text {
      margin: 0 auto;
      margin-top: -88px;
      max-width: 233px;
      padding: 0;
      padding-top: 20px;
      text-align: center;
      overflow: hidden;
    }
    &-job {
      display: block;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      color: $softSilver;
      margin-bottom: 24px;
    }
    &-price-tag {
      position: unset;
      bottom: unset;
      top: unset;
      left: unset;
      display: block;
      padding: 0;
      padding-top: 9px;
      padding-bottom: 9px;
      width: 100%;
      font-size: 13px;
      min-height: unset;

        

      text-overflow: ellipsis;
      word-wrap: normal;
      word-break: normal;
    }
  }
  &__footer {
    position: relative;
    margin-top: 55px;
    text-align: center;
    &-text {
      display: inline-block;
      // color: $white;
      max-width: 568px;
      &::before {
        margin-bottom: 0.63rem;
      }
    }
  }
}