.types {
  padding-bottom: 207px;
  &__heading {
    margin-bottom: 30px ;
  }
  &__card {
    &-price-tag {
      bottom: -1.982rem;
  
      // width: 100%;
      // min-width: 228px;
      min-height: 54px;
      padding: 15px 25px;
    }
  }
}
