.types {
  padding-bottom: 207px;
  &__heading {
    margin-bottom: 30px ;
  }
  &__card {
    &-price-tag {
      bottom: -1.982rem;
  
      // width: 100%;
      // min-width: 228px;
      min-height: 54px;
      padding: 15px 25px;
    }
  }
}


// .section-row {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

// .section-col {
//   flex-basis: 32%;
// }

// .card {
//   &__img {
//     width: 100%;
//     max-width: 392px;
//   }

//   &__text {
//     position: relative;
//     max-width: 330px;
//     margin: 0 auto;
//     margin-top: -9.271rem;

//     padding: 24px 0 59px 34px;
//     background-color: $white;
//     box-shadow: 10px 10px 20px rgba($dark, 0.03);
//   }

//   &__title {
//     font-family: "Yeseva One";
//     font-style: normal;
//     font-weight: normal;
//     font-size: 1.285rem;
//     margin-bottom: 9px;
//     // margin-bottom: 13px;
//   }
//   &__list {
//     list-style-position: inside;
//   }

//   &__items {
//     font-size: 1.071rem;
//     font-family: "Futura Book";
//     color: $softSilver;
//     line-height: 25px;
//     // & + & {
//     //   margin-top: 10px;
//     // }
//   }
//   &__price-tag {
//     position: absolute;
//     left: 0;
//     // bottom: -27px;
//     bottom: -1.982rem;

//     // width: 100%;
//     // min-width: 228px;
//     min-height: 54px;
//     padding: 15px 25px;

//     background-color: $primary;
//     color: $white;

//     font-family: "Yeseva One";
//     font-size: 1.285rem;
//     font-style: normal;
//     font-weight: normal;
//     line-height: 25px;
//     text-align: center;
//     text-transform: uppercase;
//   }

// }
